<h1>{{title}}</h1>
<br>
 

<a routerLink="/employee" routerLinkActive="styleactive" [routerLinkActiveOptions]="{exact:true}">Employee List</a> &nbsp;&nbsp;
<a routerLink="/addEmployee" routerLinkActive="styleactive">Add Employee</a>
<br> <br>
<label for="filter">Filter By</label> &nbsp;
<input type="text" id="filter" [(ngModel)]="nameFilter">
<br> <br>
<label for="TNE" id="count">Total Number of Employees : {{leng}} </label>
<br> <br>
<table>
    <tr>
    <th>Emp ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Delete</th>
    <th>Edit</th>
    </tr>
    <tr *ngFor="let emp of Employees | Filter:nameFilter; let i =index">
        <td><a [routerLink]="['/details',emp.id]">{{emp.id}}</a></td>
        <td id="{{'Name'+i}}">{{emp.name}}</td>
        <td id="{{'Location'+i}}">{{emp.location}}</td>
        <td id="{{'Email'+i}}">{{emp.email}}</td>
        <td id="{{'Mobile'+i}}">{{emp.mobile}}</td>
        <td><button id="{{'Delete'+i}}" (click)="deleteemp(emp.id)"><a>Delete</a></button>
            <td><a id="{{'Edit'+i}}"  [routerLink]="emp.id">Edit</a></td>
        </tr>
        </table>
